/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*====*     *===*     *==*      *=====*  *====*  *==*     *===*     *==*        *==*          *=========*        *==*         *==*     *===*     *==========*/
/*====*  **  *=*  **  *==*  *==*  *===*  *====*  *==*  **  *=*  **  *==*  *============*  *=============*  *========*  *===*  *==*  **  *=*  **  *==========*/
/*====*  *=*  *  *=*  *==*  *===*  *==*  *====*  *==*  *=*  *  *=*  *==*     *=========*  *=============*  *========*  *===*  *==*  *=*  *  *=*  *==========*/
/*====*  *==*   *==*  *==*  *==*  *===*   *==*   *==*  *==*   *==*  *==*  *============*  *======   ====*  *========*  *===*  *==*  *==*   *==*  *==========*/
/*====*  *=========*  *==*      *======*        *===*  *=========*  *==*        *======*  *======   ====*        *==*         *==*  *=========*  *==========*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==============================  Portfolio Site for Atlanta-based UX Designer | Front-end Developer - Mauricio Dumet ======================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/




/*===========================================================================================================*/
/*===========================================================================================================*/
/*==================================                              ===========================================*/
/* =================================         Global Styles        ========================================== */
/*==================================                              ===========================================*/
/*===========================================================================================================*/
/*===========================================================================================================*/



/* === Global Styles - X-Small Screen === */

/* =================================         Navbar        ========================================== */
.navbar {
	height: 50px;
	background-color: #efc337; 
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 9px 15px;
    font-size: 18px;
    line-height: 20px;
}

img.logo {
    background-color: #efc337;
    border-radius: 50%;
    border: 2px solid #efc337;
    height: 34px;
 }

 .navbar-header .title {
    position: absolute;
    top: 15px;
    left: 65px;
 	visibility: visible;
 	font-size: 16px;
	color: #f4f4f4;
	 	font-family: 'Montserrat', sans-serif;
	 	font-weight: 700;
	 	text-transform: uppercase;
 }


.navbar-inverse {
	box-shadow: 0px 0px 10px #313335;
    background-color: #313335;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #313335;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #efc337;
}

.navbar .navbar-nav>li>a {
	color: #313335;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}

.navbar-inverse .navbar-nav>li>a {
    color: #efc337;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
}

.navbar-collapse {
	background-color: #313335;
	border-top: 1px;
}

.navbar-collapse .navbar-nav>li>a {
	color: #efc337;
}

.navbar-collapse .navbar-nav>li>a:hover {
	color: #f4f4f4;
	background-color: transparent;
}


/* =================================         H2 - Title        ========================================== */

h2.title {
	padding-left: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}



/* =================================         Footer        ========================================== */

footer{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	background-color:#313335;
}

footer h4{
	text-align:center;
	width:100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin:30px auto 20px;
	color: #f4f4f4;
}

footer .footer-links{
	position:relative;
	width:90%;
	height:50px;
	margin:35px 5% 10px;
}

footer .footer-links ul{
	width:100%;
	margin:0;
	padding:0;
}

footer .footer-links ul li{
	position:relative;
	float:left;
	list-style:none;
	width:25%;
	line-height:30px;
}

footer .footer-links ul li a{
	position:relative;
	left:50%;
	float:left;
	width:46px;
	height:46px;
	overflow:hidden;
	text-indent:-9999px;
	margin:0;
	margin-left:-23px;
	border-radius:50%;
}

footer ul li a.icon-linkedin{background:url(../img/global/icon-linkedin.svg) no-repeat center #efc337;}

footer ul li a.icon-dribbble{background:url(../img/global/icon-dribbble.svg) no-repeat center #efc337;}

footer ul li a.icon-codepen{background:url(../img/global/icon-codepen.svg) no-repeat center #efc337;}

footer ul li a.icon-twitter{background:url(../img/global/icon-twitter.svg) no-repeat center #efc337;}

footer .copyright{
	text-align:center;
	width:100%;
	height:60px;
	padding:30px 40px 0;
	margin-bottom: 20px;
	clear:left;
	color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height:16px;font-size:14px;
}



/* === Global Styles - Small Screen === */

@media (min-width: 768px) {

	/*Navbar*/

	.navbar {
		height: 50px;
		background-color: #efc337;
		transition:all 0.5s ease;
	}

	.navbar-inverse{
		background-color:#313335;
	}


	.navbar .container-fluid {
	    padding-left: 0;
	    padding-right: 0;
	}

	.navbar .navbar-header {
		padding-left: 30px;
	}

	.navbar-brand {
	    float: left;
	    padding: 7.5px 15px 7.55px 20px; 
	    transition:all 0.5s ease;
	}


	img.logo {
	    height: 35px;
	}

	.navbar-header .title {
	    position: absolute;
	    top: 16px;
	    left: 90px;
	 	color: #f4f4f4;
	 	font-family: 'Montserrat', sans-serif;
	 	font-weight: 700;
	 	text-transform: uppercase;
	 	visibility: visible;
	 }

	.navbar-toggle {
	    padding: 10px 10px;
	    margin-top: 15px;
	    margin-right: 15px;
	    margin-bottom: 8px;
	}

	.navbar .navbar-nav {
	    padding-right: 30px;
	}

	.navbar .navbar-nav>li>a {
	    color: #313335;
	    font-weight:bold;
	    text-transform:uppercase;
	    text-align:center;
	    background-color: transparent;
	}

	.navbar .navbar-nav>li>a:hover {
	    cursor:pointer;
	    color: #f4f4f4;
	    border-bottom:2px #313335 solid;
	    padding-bottom:5px;
	}

	.navbar-inverse .navbar-nav>li>a {
	    color: #efc337;
	    font-weight:bold;
	    text-transform:uppercase;
	    text-align:center;
	    background-color: transparent;
	}

	.navbar-inverse .navbar-nav>li>a:hover {
	    cursor:pointer;
	    color: #efc337;
	    border-bottom:2px #f4f4f4 solid;
	    padding-bottom:5px;
	}

	.navbar .navbar-collapse {
		background-color: #efc337;
	}

	.navbar-inverse .navbar-collapse {
		background-color: #313335;
	}


	/* =================================         Footer        ========================================== */

	footer{height:auto}

	footer .footer-links{
		width:50%;
		margin:30px 25% 25px;
	}

	footer ul{
		width:100%;
		margin:0;
		padding:0 20px;
	}

	footer ul li{
		width:25%;
		margin-left:0;
		padding:0;
		line-height:30px;
		display:inline-block;
	}

	footer ul li a{
		position:relative;
		left:50%;
		margin-left:-23px;
	}

	footer .copyright{
		text-align:center;
		width:100%;
		height:60px;
		margin:0 auto;
		padding:0;
	}

	footer .copyright p{
		line-height:40px;
		font-size:16px !important;
		margin:0;
	}	

}

/* === Global Styles - Medium Screen === */

@media (min-width: 992px) {

}



/*===========================================================================================================*/
/*===========================================================================================================*/
/* =================================         Work Styles        ============================================ */
/*===========================================================================================================*/
/*===========================================================================================================*/

/* === Work Styles - X-Small Screen === */

/*Jumbotron*/

.jumbotron.main {
	background-color: #efc337;
	padding-bottom: 15px;
	padding-top: 0px;
    margin-bottom: 0;
}

.jumbotron.main h1 {
	color: #f4f4f4;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
}

.jumbotron.main h2 {
	color: #313335;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}

.jumbotron.main p {
	color: #313335;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-top: 10px;
}

.jumbotron.cstudies {
	background-color: #ffffff;
	margin-bottom: 0;
    padding-bottom: 10px;	
}



/*CTA*/
.jumbotron.cta {
	background-color: #efc337;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 10px;
}

.jumbotron.cta p {
	color: #313335;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}

.btn-primary {
	color: #efc337;
	background-color: #313335;
	border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	color: #efc337;
	background-color: #5a5b5d;
	border: none;
    outline: none;
}

.btn-lg {
	padding: 8px 20px;
    font-size: 18px;
    border-radius: 4px;

}

.visit {
	width: 100%;

    color: #313335;
	background-color: transparent;
    padding: 10px 15px;
    border: 1px solid #313335;
}

.visit:hover {

    color: #313335;
    border: 1px solid #313335;
	background-color: #efc337;	
}


/* === Work Styles - Small Screen === */

@media (min-width: 768px) {
	.jumbotron.main {
/*		padding-bottom: 15px;
		padding-top: 0px;*/
	}
	.jumbotron.main h1 {
		font-size: 42px;
	}
	.jumbotron.main p {
		margin-top: 10px;
	}
	.jumbotron.cstudies {
	    padding-bottom: 18px;	
	}

	.visit {
		width: 180px;
	}
}
/* === Work Styles - Medium Screen === */

@media (min-width: 992px) {
	.jumbotron.main{
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.visit {
		width: 200px;
	}
}




/*===========================================================================================================*/
/*===========================================================================================================*/
/* =================================         Project Styles        ========================================= */
/*===========================================================================================================*/
/*===========================================================================================================*/


/* === Project Styles - X-Small Screen === */




/*Project Details*/

.project-overview {
	padding-bottom: 15px;
}

.project-scope {
	padding-bottom: 15px;
}

.project-overview h3 {
	margin-top: 10px; 
}

.project-scope h3 {
	margin-top: 10px; 
}

.project-scope ul {
	padding-left: 0;
}

.project-scope li {
	list-style: none;
}

h1 span.small {

}


.project h3 {
	margin-top: 10px;
}


/* === Project Styles - Small Screen === */

@media (min-width: 768px) {


/*Project Overview*/

	.project-scope {
		border-left: #efc337 5px solid;
		padding-bottom: 0;
	}

	.scope-img {
		height: 280px;
	}

	.project h3 {
		margin-top: 20px;
	}
}

/* === Project Styles - Medium Screen === */

@media (min-width: 992px) {

/*Project Jumbotron*/	

	.jumbotron.project{
		min-height: 300px;
	}

	.jumbotron.project.cbapp {
		background-image: url(../img/case-studies/CB-App/CBApp-md.jpg);
	}

/*Project Details*/

/*	.project-overview {
		margin-bottom: 10px;
	}

	.project-scope {
		margin-bottom: 10px;
	}*/	

	.process p {
		margin-top: 20px;
	}
}

/* === Project Styles - Large Screen === */

@media (min-width: 1200px) {

/*Project Jumbotron*/

	.jumbotron.project{
		min-height: 360px;
	}

	.jumbotron.project.cbapp {
		background-image: url(../img/case-studies/CB-App/CBApp-lg.jpg);
	}

/*Project Details*/

/*	.project-overview {
		padding-bottom: 5px;
	}

	.project-scope {
		padding-bottom: 5px;
	}*/

}



/*===========================================================================================================*/
/*===========================================================================================================*/
/* ===================================         About Styles        ========================================= */
/*===========================================================================================================*/
/*===========================================================================================================*/



/* === About Styles - X-Small Screen === */
/* === About Styles - Small Screen === */
/* === About Styles - Medium Screen === */

