/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*====*     *===*     *==*      *=====*  *====*  *==*     *===*     *==*        *==*          *=========*        *==*         *==*     *===*     *==========*/
/*====*  **  *=*  **  *==*  *==*  *===*  *====*  *==*  **  *=*  **  *==*  *============*  *=============*  *========*  *===*  *==*  **  *=*  **  *==========*/
/*====*  *=*  *  *=*  *==*  *===*  *==*  *====*  *==*  *=*  *  *=*  *==*     *=========*  *=============*  *========*  *===*  *==*  *=*  *  *=*  *==========*/
/*====*  *==*   *==*  *==*  *==*  *===*   *==*   *==*  *==*   *==*  *==*  *============*  *======   ====*  *========*  *===*  *==*  *==*   *==*  *==========*/
/*====*  *=========*  *==*      *======*        *===*  *=========*  *==*        *======*  *======   ====*        *==*         *==*  *=========*  *==========*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==============================  Portfolio Site for Atlanta-based UX Designer | Front-end Developer - Mauricio Dumet ======================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/




/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================                                     ===========================================*/
/*==================================         Project Cards Styles        ===========================================*/
/*==================================                                     ===========================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/



/*==================================================================*/
/*=====================          CARDS         =====================*/
/*==================================================================*/


.work-card {
	margin-bottom: 30px;
}

.card {
	height: 240px;
	padding-left: 0;
	padding-right: 0;
	box-shadow:0px 3px 7.5px #cacaca;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
	background-color: #313335; 
}

.card img.card-img{
	display:block;
	width:100%;
	height:240px;
	opacity:1;
	position: relative;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card a {
	text-decoration: none;
}

.card a p {
	visibility:hidden;
}

.card a p.card-title {
	text-align: center;
	margin-top: -140px;
	text-decoration: none;
	color:#313335;
	font-size:20px;
	font-weight: 400;
	background-color: #efc337;
}

.card:hover{
	box-shadow:0px 3px 7.5px #858585;
}

.card:hover img.card-img{
	opacity:.15;
}

.card:hover a p {
	visibility:visible;
}

/*og_thumb.png*/


/*==================================================================*/
/*=====================      CASE STUDIES      =====================*/
/*==================================================================*/


.card.cstudies {
	height: 300px;
}

.card.cstudies img.card-img{
	height:300px;
}

.card.cstudies a p.card-title {
	margin-top: -100px;	
}


.card.cstudies.CB-App img.card-img{
	background-image: url(../img/case-studies/CB-App/CBApp-thumb.png);
}

.card.cstudies.CB-Homepage img.card-img{
	background-image: url(../img/case-studies/cb-home/cbhome_thumb.png);
}

.card.cstudies.OG img.card-img{
	background-image: url(../img/case-studies/OG/og_thumb.png);
}

.card.cstudies.UA img.card-img{
	background-image: url(../img/case-studies/ua/ua_thumb.png);
}



/*==================================================================*/
/*=====================        PROJECTS        =====================*/
/*==================================================================*/


.card.CB-AddResume img.card-img{
	background-image: url(../img/projects/cb-resume/cbresume_thumb.png);
}

.card.NFHS img.card-img{
	background-image: url(../img/projects/nfhs/nfhs_thumb.png);
}

.card.aja img.card-img{
	background-image: url(../img/projects/aja/aja_thumb.png);
}

.card.encore img.card-img{
	background-image: url(../img/projects/encore/encore_thumb.png);
}

.card.braces img.card-img{
	background-image: url(../img/projects/braces/braces_thumb.jpg);
}

.card.AA img.card-img{
	background-image: url(../img/projects/aa/aa_thumb.png);
}


/*==================================================================*/
/*=====================        FUN STUFF       =====================*/
/*==================================================================*/


.card.PorkyPig img.card-img{
	background-image: url(../img/projects/porky/porky_thumb.png);
}

.card.reef img.card-img{
	background-image: url(../img/projects/reef/reef_thumb.png);
}

.card.dcfc img.card-img{
	background-image: url(../img/projects/dcfc/dcfc_thumb.png);
}

.card.illustration img.card-img{
	background-image: url(../img/projects/illustration/illustration_thumb.png);
}

.card.animation img.card-img{
	background-image: url(../img/projects/animation/animation_thumb.png);
}

.card.lettering img.card-img{
	background-image: url(../img/projects/lettering/lettering_thumb.png);
}















