/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*====*     *===*     *==*      *=====*  *====*  *==*     *===*     *==*        *==*          *=========*        *==*         *==*     *===*     *==========*/
/*====*  **  *=*  **  *==*  *==*  *===*  *====*  *==*  **  *=*  **  *==*  *============*  *=============*  *========*  *===*  *==*  **  *=*  **  *==========*/
/*====*  *=*  *  *=*  *==*  *===*  *==*  *====*  *==*  *=*  *  *=*  *==*     *=========*  *=============*  *========*  *===*  *==*  *=*  *  *=*  *==========*/
/*====*  *==*   *==*  *==*  *==*  *===*   *==*   *==*  *==*   *==*  *==*  *============*  *======   ====*  *========*  *===*  *==*  *==*   *==*  *==========*/
/*====*  *=========*  *==*      *======*        *===*  *=========*  *==*        *======*  *======   ====*        *==*         *==*  *=========*  *==========*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==============================  Portfolio Site for Atlanta-based UX Designer | Front-end Developer - Mauricio Dumet ======================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/




/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================                                     ===========================================*/
/*==================================           Project Images            ===========================================*/
/*==================================                                     ===========================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/


/*Project Jumbotron*/

.jumbotron.project{
	min-height: 200px;
}

.jumbotron.project {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


img {
	border: none;
}

.project-img {
	width: 100%;
	height: 260px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
	border: transparent;
	background-color: transparent;		
}


.scope-img {
	height: 200px;
	margin-top: 20px;	
}


@media (min-width: 768px) {
	
}

@media (min-width: 992px) {

}





/*==================================================================*/
/*=====================      CASE STUDIES      =====================*/
/*==================================================================*/

/* CB-APP */

.CB-App{
	background-image: url(../img/case-studies/CB-App/CBApp-thumb.jpg);
}


.jumbotron.project.cbapp {
	background-image: url(../img/case-studies/CB-App/CBApp-XS.jpg);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

/* CB-HOMEPAGE */

.CB-Homepage{
	background-image: url(../img/case-studies/cb-home/cbhome_thumb.png);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}


/* OG */

.OG{
	background-image: url(../img/case-studies/OG-TeamMoms/og_thumb.png);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}


/* UA */

.UA{
	background-image: url(../img/case-studies/ua/ua_thumb.png);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}



/*==================================================================*/
/*=====================        PROJECTS        =====================*/
/*==================================================================*/


/* CB-ADDRESUME*/

.CB-AddResume{
	background-image: url(../img/projects/cb-resume/cbresume_thumb.png);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}



/* NFHS*/

.NFHS{
	background-image: url(../img/projects/nfhs/nfhs_thumb.png);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}



/* AJA */

.aja{
	background-image: url(../img/projects/aja/aja_thumb.png);
}

.jumbotron.project.aja {
	background-image: url(../img/projects/aja/aja-banner.jpg);
}

.aja-1{
	background-image: url(../img/projects/aja/aja_thumb.png);
}

.aja-2{
	background-image: url(../img/projects/aja/aja-2.png);
}

.aja-responsive{
	background-image: url(../img/projects/aja/aja-responsive.png);
}

@media (min-width: 768px) {

	.jumbotron.project.aja {
		height: 260px;
	}
	.aja-1{
		height: 300px;
	}
	.aja-2{
		height: 420px;
	}
	.aja-responsive{
		height: 420px;
	}
}

@media (min-width: 992px) {

	.jumbotron.project.aja {
		height: 300px;
	}
	.aja-1{
		height: 340px;
	}
	.aja-2{
		height: 340px;
	}
	.aja-responsive{
		height: 640px;
	}
}


/* ENCORE */

.encore{
	background-image: url(../img/projects/encore/encore_thumb.png);
}

.encore-1 {
	background-image: url(../img/projects/encore/encore-1.png);
}

.encore-2 {
	background-image: url(../img/projects/encore/encore-2.png);
}

.encore-1-all {
	background-image: url(../img/projects/encore/encore-1-all.png);
   	box-shadow: 0px 2px 15px #888888;
	min-height: 950px;
}

.encore-2-all {
	background-image: url(../img/projects/encore/encore-2-all.png);
   	box-shadow: 0px 2px 15px #888888;
	min-height: 1150px;
}

@media (min-width: 768px) {
	.encore-1 {
		min-height: 210px;
	}

	.encore-2 {
		min-height: 210px;
	}

	.encore-1-all {
		min-height: 720px;
	}

	.encore-2-all {
		min-height: 880px;
	}
}

@media (min-width: 992px) {
	.encore-1 {
		min-height: 340px;
	}

	.encore-2 {
		min-height: 340px;
	}

	.encore-1-all {
      	min-height: 1450px;
	}

	.encore-2-all {
      	min-height: 1450px;
	}
}


/* BRACES BRACES */

.braces{
	background-image: url(../img/projects/braces/braces_thumb.jpg);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

/* ALFRED ANGELO*/

.aa-1{
	height: 260px;
	background-image: url(../img/projects/aa/aa-1.png);
}

.aa-2{
	height: 260px;
	background-image: url(../img/projects/aa/aa-2.png);
}

.aa-p{
	height: 420px;
	background-image: url(../img/projects/aa/aa-p-xs.gif);
}

@media (min-width: 768px) {
	.aa-1{
		height: 220px;
	}

	.aa-2{
		height: 220px;
	}

	.aa-p{
		height: 300px;
		background-image: url(../img/projects/aa/aa-p-sm.gif);
	}

}

@media (min-width: 992px) {
	.aa-1{
		height: 320px;
	}

	.aa-2{
		height: 320px;
	}

	.aa-p{
		height: 400px;
		background-image: url(../img/projects/aa/aa-p-md.gif);
	}

}
/*==================================================================*/
/*=====================        FUN STUFF       =====================*/
/*==================================================================*/


.PorkyPig{
	background-image: url(../img/projects/porky/porky_thumb.png);
}

.reef{
	background-image: url(../img/projects/reef/reef_thumb.png);
}

.dcfc{
	background-image: url(../img/projects/dcfc/dcfc_thumb.png);
}

.illustration{
	background-image: url(../img/projects/illustration/illustration_thumb.png);
}

.animation{
	background-image: url(../img/projects/animation/animation_thumb.png);
}

.lettering{
	background-image: url(../img/projects/lettering/lettering_thumb.png);
}















