/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*====*     *===*     *==*      *=====*  *====*  *==*     *===*     *==*        *==*          *=========*        *==*         *==*     *===*     *==========*/
/*====*  **  *=*  **  *==*  *==*  *===*  *====*  *==*  **  *=*  **  *==*  *============*  *=============*  *========*  *===*  *==*  **  *=*  **  *==========*/
/*====*  *=*  *  *=*  *==*  *===*  *==*  *====*  *==*  *=*  *  *=*  *==*     *=========*  *=============*  *========*  *===*  *==*  *=*  *  *=*  *==========*/
/*====*  *==*   *==*  *==*  *==*  *===*   *==*   *==*  *==*   *==*  *==*  *============*  *======   ====*  *========*  *===*  *==*  *==*   *==*  *==========*/
/*====*  *=========*  *==*      *======*        *===*  *=========*  *==*        *======*  *======   ====*        *==*         *==*  *=========*  *==========*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==============================  Portfolio Site for Atlanta-based UX Designer | Front-end Developer - Mauricio Dumet ======================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/
/*==========================================================================================================================================================*/




/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================                                     ===========================================*/
/*==================================           Project Images            ===========================================*/
/*==================================                                     ===========================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/


/*Project Jumbotron*/

.jumbotron.project{
	min-height: 200px;
}

.jumbotron.project {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


img {
	border: none;
}

.project-img {
	width: 100%;
	height: 260px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
	border: transparent;
	background-color: transparent;		
}


.scope-img {
	height: 200px;
	margin-top: 20px;	
}


@media (min-width: 768px) {
	
}

@media (min-width: 992px) {

}





/*==================================================================*/
/*=====================      CASE STUDIES      =====================*/
/*==================================================================*/

/* CB-APP */

.CB-App{
	background-image: url(../img/case-studies/CB-App/CBApp-thumb.png);
}

.jumbotron.project.cbapp {
	background-image: url(../img/case-studies/CB-App/CBApp-banner-xs.png);
}

.cbapp-reviews {
	background-image: url(../img/case-studies/CB-App/CBApp-reviews.png);
}

.cbapp-comp {
	background-image: url(../img/case-studies/CB-App/CBApp-comp.png);
}

.cbapp-audit {
	background-image: url(../img/case-studies/CB-App/CBApp-audit.png);
}

.cbapp-personas {
	background-image: url(../img/case-studies/CB-App/CBApp-personas.png);
}

.cbapp-sedo {
	background-image: url(../img/case-studies/CB-App/CBApp-sedo.png);
}

.cbapp-stickies {
	background-image: url(../img/case-studies/CB-App/CBApp-stickies.png);
	height: 220px;
}

.cbapp-wires {
	background-image: url(../img/case-studies/CB-App/CBApp-wires.png);
	height: 300px;
}

.cbapp-visuals {
	background-image: url(../img/case-studies/CB-App/CBApp-visuals.png);
	height: 300px;
}

.cbapp-prototype {
	position: relative;
    width: 100%;
    min-height: 280px;
    padding: 20px 0 30px;
}

.cbapp-final {
	background-image: url(../img/case-studies/CB-App/CBApp-final.png);
	height: 280px;	
}



@media (min-width: 768px) {
	.jumbotron.project.cbapp {
		height: 200px;
		background-image: url(../img/case-studies/CB-App/CBApp-banner-sm.png);
	}

	.cbapp-personas {
		height: 200px;
	}

	.cbapp-sedo {
		height: 400px;
	}

	.cbapp-stickies {
		height: 350px;
	}

	.cbapp-wires {
		min-height: 500px;
	}

	.cbapp-visuals {
		min-height: 500px;
	}

	.cbapp-prototype {
		min-height: 500px;		
	}

	.cbapp-final {
		min-height: 450px;
	}
}

@media (min-width: 992px) {
	.jumbotron.project.cbapp {
		min-height: 360px;
	}

	.cbapp-personas {
		min-height: 240px;
	}

	.cbapp-sedo {
		min-height: 600px;
	}

	.cbapp-stickies {
		min-height: 560px;
	}

	.cbapp-wires {
		min-height: 400px;
	}

	.cbapp-visuals {
		min-height: 400px;
	}

	.cbapp-prototype {
		height:630px;
	}

	.cbapp-final {
		min-height: 800px;
	}

}

/* CB-HOMEPAGE */

.CB-Homepage{
	background-image: url(../img/case-studies/cb-home/cbhome_thumb.png);
}

.jumbotron.project.cbhome {
	background-image: url(../img/case-studies/cb-home/cbhome-banner-xs.png);
}

.cbhome-audit {
	background-image: url(../img/case-studies/cb-home/cbhome-audit.png);
	height: 160px;
}

.cbhome-analytics {
	background-image: url(../img/case-studies/cb-home/cbhome-analytics.png);
}

.cbhome-comp {
	background-image: url(../img/case-studies/cb-home/cbhome-comp.png);
}

.cbhome-comp1 {
	background-image: url(../img/case-studies/cb-home/cbhome-monster.png);
}

.cbhome-comp2 {
	background-image: url(../img/case-studies/cb-home/cbhome-ziprecruiter.png);
}

.cbhome-wires {
	background-image: url(../img/case-studies/cb-home/cbhome-wires.png);
	height: 300px;
}

.cbhome-final {
	background-image: url(../img/case-studies/cb-home/cbhome-final.png);
	height: 900px;	
}



@media (min-width: 768px) {
	.jumbotron.project.cbhome {
		height: 200px;
		background-image: url(../img/case-studies/cb-home/cbhome-banner-sm.png);
	}

	.cbhome-audit {
		height: 260px;
	}

	.cbhome-analytics {
		height: 260px;
	}

	.cbhome-comp {
		height: 420px;
	}

	.cbhome-comp1 {
		height: 400px;
	}

	.cbhome-comp2 {
		height: 400px;
	}

	.cbhome-wires {
		height: 460px;
	}

	.cbhome-final {
		height: 1450px;
	}
}

@media (min-width: 992px) {
	.jumbotron.project.cbhome {
		min-height: 360px;
	}

	.cbhome-audit {
		height: 400px;
	}

	.cbhome-analytics {
		height: 400px;
	}

	.cbhome-comp {
		height: 670px;
	}

	.cbhome-comp1 {
		height: 320px;
	}

	.cbhome-comp2 {
		height: 320px;
	}

	.cbhome-wires {
		height: 680px;
	}

	.cbhome-final {
		height: 2310px;
	}

}


/* OG */

.OG{
	background-image: url(../img/case-studies/OG/og_thumb.png);
}

.jumbotron.project.og {
	background-image: url(../img/case-studies/OG/og-banner-xs.png);
}

.og-moms {
	background-image: url(../img/case-studies/OG/og-moms.png);
		height: 160px;
    	background-position-y: -10px;
}

.og-social {
	background-image: url(../img/case-studies/OG/og-social.png);	
}

.og-wires {
	background-image: url(../img/case-studies/OG/og-wires.png);
	height: 360px;	
}

.og-final {
	background-image: url(../img/case-studies/OG/og-final.png);
	height: 260px;	
}

@media (min-width: 768px) {
	.jumbotron.project.og {
		background-image: url(../img/case-studies/OG/og-banner-sm.png);
		height: 200px;
	}

	.og-moms {
		height: 180px;
    	background-position-y: -40px;
	}

	.og-social {
		height: 320px;
	}

	.og-wires {
		height: 590px;
	}

	.og-final {
		height: 420px;
	}
}

@media (min-width: 992px) {
	.jumbotron.project.og {
		height: 360px;
	}

	.og-moms {
		height: 300px;
    	background-position-y: -50px;
	}

	.og-social {
		height: 500px;
	}

	.og-wires {
		height: 930px;
	}

	.og-final {
		height: 620px;
	}
}


/* UA */

.ua{
	background-image: url(../img/case-studies/ua/ua_thumb.png);
}

.jumbotron.project.ua {
	background-image: url(../img/case-studies/ua/ua-banner-xs.png);
}

.ua-deion {
	background-image: url(../img/case-studies/ua/ua-deion.png);
	height: 240px;
}

.ua-social {
	background-image: url(../img/case-studies/ua/ua-social.png);
	height: 200px;
}

.ua-final-home {
	background-image: url(../img/case-studies/ua/ua-home.png);
	height: 200px;
}

.ua-final-instructions {
	background-image: url(../img/case-studies/ua/ua-instructions.png);
	height: 200px;
}

.ua-final-drills {
	background-image: url(../img/case-studies/ua/ua-drills.png);
	height: 230px;
}


.ua-final-registration {
	background-image: url(../img/case-studies/ua/ua-registration.png);
	height: 580px;
}

@media (min-width: 768px) {

	.jumbotron.project.ua {
		background-image: url(../img/case-studies/ua/ua-banner-sm.png);
		height: 200px;
	}

	.ua-deion {
		height: 340px;
     	background-position-y: -60px;
	}

	.ua-social {
		height: 320px;
	}

	.ua-final-home {
		height: 320px;
	}

	.ua-final-instructions {
		height: 320px;
	}

	.ua-final-drills {
		height: 360px;
	}


	.ua-final-registration {
		height: 940px;
	}
}

@media (min-width: 992px) {
	.jumbotron.project.ua {
		height: 360px;
	}

	.ua-deion {
		height: 500px;
     	background-position-y: -100px;
	}

	.ua-social {
		height: 400px;
	}

	.ua-final-home {
		height: 510px;
	}

	.ua-final-instructions {
		height: 510px;
	}

	.ua-final-drills {
		height: 580px;
	}


	.ua-final-registration {
		height: 1490px;
	}

}



/*==================================================================*/
/*=====================        PROJECTS        =====================*/
/*==================================================================*/


/* CB-ADDRESUME*/

.CB-AddResume{
	background-image: url(../img/projects/cb-resume/cbresume_thumb.png);
}

.unauth-flow-old {
	background-image: url(../img/projects/cb-resume/unauth-flow-old.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 160px;
	width: 100%;
}

.current-screens {
	background-image: url(../img/projects/cb-resume/current-screens.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 160px;
	width: 100%;
}

.unauth-flow-new {
	background-image: url(../img/projects/cb-resume/unauth-flow-new.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 160px;
	width: 100%;
}

.resume-wire1 {
	background-image: url(../img/projects/cb-resume/resume-wire1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 320px;
	width: 100%;
	border: 1px solid;
}

.resume-wire2 {
	background-image: url(../img/projects/cb-resume/resume-wire2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 320px;
	width: 100%;
	border: 1px solid;
}

.resume-wire3 {
	background-image: url(../img/projects/cb-resume/resume-wire3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 320px;
	width: 100%;
	border: 1px solid;
}

.resume-ui{
	background-image: url(../img/projects/cb-resume/resume-ui.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 280px;
	width: 100%;
}

@media (min-width: 768px) {
	.unauth-flow-old{
		height: 200px;
	}

	.current-screens{
		height: 200px;
	}

	.resume-wire1{
		height: 510px;
	}

	.resume-wire2{
		height: 510px;
	}

	.resume-wire3{
		height: 510px;
	}

	.unauth-flow-new{
		height: 200px;
	}

	.resume-ui{
		height: 360px;
	}	
}

@media (min-width: 992px) {
	.unauth-flow-old{
		height: 240px;
	}

	.current-screens{
		height: 240px;
	}

	.resume-wire1{
		height: 670px;
	}

	.resume-wire2{
		height: 670px;
	}

	.resume-wire3{
		height: 670px;
	}

	.unauth-flow-new{
		height: 240px;
	}

	.resume-ui{
		height: 500px;
	}
}

@media (min-width: 1400px) {

	.resume-wire1{
		height: 820px;
	}

	.resume-wire2{
		height: 820px;
	}

	.resume-wire3{
		height: 820px;
	}

	.resume-ui{
		height: 600px;
	}
}


/* NFHS*/

.NFHS{
	background-image: url(../img/projects/nfhs/nfhs_thumb.png);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}



/* AJA */

.aja{
	background-image: url(../img/projects/aja/aja_thumb.png);
}

.jumbotron.project.aja {
	background-image: url(../img/projects/aja/aja-banner.jpg);
}

.aja-1{
	background-image: url(../img/projects/aja/aja_thumb.png);
}

.aja-2{
	background-image: url(../img/projects/aja/aja-2.png);
}

.aja-responsive{
	background-image: url(../img/projects/aja/aja-responsive.png);
}

@media (min-width: 768px) {

	.jumbotron.project.aja {
		height: 260px;
	}
	.aja-1{
		height: 300px;
	}
	.aja-2{
		height: 420px;
	}
	.aja-responsive{
		height: 420px;
	}
}

@media (min-width: 992px) {

	.jumbotron.project.aja {
		height: 300px;
	}
	.aja-1{
		height: 340px;
	}
	.aja-2{
		height: 340px;
	}
	.aja-responsive{
		height: 640px;
	}
}


/* ENCORE */

.encore{
	background-image: url(../img/projects/encore/encore_thumb.png);
}

.encore-1 {
	background-image: url(../img/projects/encore/encore-1.png);
}

.encore-2 {
	background-image: url(../img/projects/encore/encore-2.png);
}

.encore-1-all {
	background-image: url(../img/projects/encore/encore-1-all.png);
   	box-shadow: 0px 2px 15px #888888;
	min-height: 950px;
}

.encore-2-all {
	background-image: url(../img/projects/encore/encore-2-all.png);
   	box-shadow: 0px 2px 15px #888888;
	min-height: 1150px;
}

@media (min-width: 768px) {
	.encore-1 {
		min-height: 210px;
	}

	.encore-2 {
		min-height: 210px;
	}

	.encore-1-all {
		min-height: 720px;
	}

	.encore-2-all {
		min-height: 880px;
	}
}

@media (min-width: 992px) {
	.encore-1 {
		min-height: 340px;
	}

	.encore-2 {
		min-height: 340px;
	}

	.encore-1-all {
      	min-height: 1450px;
	}

	.encore-2-all {
      	min-height: 1450px;
	}
}


/* BRACES BRACES */

.braces{
	background-image: url(../img/projects/braces/braces_thumb.jpg);
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

/* ALFRED ANGELO*/

.aa-1{
	height: 260px;
	background-image: url(../img/projects/aa/aa-1.png);
}

.aa-2{
	height: 260px;
	background-image: url(../img/projects/aa/aa-2.png);
}

.aa-p{
	height: 420px;
	background-image: url(../img/projects/aa/aa-p-xs.gif);
}

@media (min-width: 768px) {
	.aa-1{
		height: 220px;
	}

	.aa-2{
		height: 220px;
	}

	.aa-p{
		height: 300px;
		background-image: url(../img/projects/aa/aa-p-sm.gif);
	}

}

@media (min-width: 992px) {
	.aa-1{
		height: 320px;
	}

	.aa-2{
		height: 320px;
	}

	.aa-p{
		height: 400px;
		background-image: url(../img/projects/aa/aa-p-md.gif);
	}

}
/*==================================================================*/
/*=====================        FUN STUFF       =====================*/
/*==================================================================*/


.PorkyPig{
	background-image: url(../img/projects/porky/porky_thumb.png);
}

.reef{
	background-image: url(../img/projects/reef/reef_thumb.png);
}

.dcfc{
	background-image: url(../img/projects/dcfc/dcfc_thumb.png);
}

.illustration{
	background-image: url(../img/projects/illustration/illustration_thumb.png);
}

.animation{
	background-image: url(../img/projects/animation/animation_thumb.png);
}

.lettering{
	background-image: url(../img/projects/lettering/lettering_thumb.png);
}















